Preprocessor Address: {
  HTTP: "http://localhost:8000/",
  IP: localhost,
  Port: 8000
}

Logging: {
  File: /var/toros/log/toros.log,
  Log Level: INFO
}

Database: {
  File: /etc/toros/db/db.sqlite3
}

Raw Files: {
  Path: /etc/toros/tmp/
}
