Preprocessor Address: {
  HTTP: "http://localhost:8000/",
  IP: localhost,
  Port: 8000
}

Logging: {
  File: /etc/toros/logs/toros.log,
  Log Level: INFO
}

Database: {
  File: /etc/toros/db/db.sqlite3
}
